@{ 
    Layout = null;
}
<link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />


<div class="container">
    <div class="alert alert-heading lead text-lg-center mt-5"><h2>Access Denied</h2></div>
    <div class="alert alert-heading lead text-lg-center">
        <a class="btn btn-lg btn-danger" asp-action="Index" asp-controller="Blog">
            Go To Home Page
        </a>
    </div>
</div>