@model CreateRoleViewModel

@{
    Layout = "_LayoutAdmin";
}

<div class="alert alert-heading lead mt-3 mb-3"><h3>Create New Role</h3></div>
<div class="text-danger text-sm-left" asp-validation-summary="All"></div>
<form method="post" asp-action="Create" >
    <div class="form-group">
        <label asp-for="Name">Role Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success cust-link">Save Role <i class="fa fa-save"></i></button>
    <a asp-action="Index" class="btn btn-default cust-link">Cancel <i class="fa fa-times-circle"></i></a>
</form>