    <!-- Footer -->
<hr />
<footer>
    <div class="container">
        <div class="row">
            <div class="container">
                <p class="copyright text-muted">Copyright &copy; Mvc Core Simple Blog 2017</p>
            </div>
        </div>
    </div>
</footer>